.login {
    height: calc(100% - 50px);
}

.login .background {
    height: 100%;
    background-color: #9acd32;
}

.login .loginForm {
    background-color: #FFC422;
    border-radius: 10px;
    position: absolute;
    width: 500px;
    height: 500px;
    margin: auto;
    left: calc(100% / 2 - 250px);
    top: 100px
}

.login .email, .pass {
    padding: 0;
    border-width: 1;
    width: 350px;
    height: 50px;
    margin: auto;
    border-radius: 7.5px;
    font-size: 18px;
    padding-left: 5px;
}

.login .email {
    position: absolute;
    left: calc(100% / 2 - 177px);
    top: 150px;
}

.login .pass {
    position: absolute;
    left: calc(100% / 2 - 177px);
    top: 210px;
}

.login .submit {
    background-color: #d303fc;
    color: white;
    width: 354px;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    border-width: 1px;
    position: absolute;
    left: calc(100% / 2 - 177px);
    top: 400px;
    font-size: 18px;
}

.login .submit:hover {
    background-color: #9603b4;
    color: white;
}

.login .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}