/* These are the stylings for the profile page */
.profile {
    min-height: 100%;
    margin: 0;
    color: white;
    font-size: 24px;
    background-color: #9acd32;
}

.nutrients {
    display: flex;
}

.error {
    margin: 0;
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 100px;
}

.calories {
    margin: 0;
    color: white;
    padding-left: 10px;
}

.current {
    width: calc(50% - 130px);
    text-align: right;
}

.current * {
    padding-right: 20px;
}

.labels {
    width: 260px;
    background-color: #d303fc;
    text-align: center;
}

.labels p {
    padding: 0;
}

.labels ul, .current ul, .recommended ul {
    list-style: none;
    padding: 0;
}

.labels h1, .current h1, .recommended h1 {
    font-size: 36px;
    text-align: center;
    padding: 0;
}

.recommended {
    width: calc(50% - 130px);
    background-color: #FFC422;
}

.recommended * {
    padding-left: 20px;
}

.subLabel, .calories {
    font-size: 30px;
    font-weight: 500;
}

.macroSliders {
    width: 100%;
    background-color: #027B7B;
    height: 110px;
}

.protein, .fat, .carbohydrates {
    -webkit-appearance: none;
    width: 70%;
    margin-top: 5px;
    height: 15px;
    border-radius: 5px;  
    background: white;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .protein::-webkit-slider-thumb, .fat::-webkit-slider-thumb, .carbohydrates::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #8B4B53;
    cursor: pointer;
  }
  
  .protein::-moz-range-thumb, .fat::-moz-range-thumb, .carbohydrates::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #8B4B53;
    cursor: pointer;
  }

  .proteinStuff p, .fatStuff p, .carbohydrateStuff p {
      width: 25%;
      margin: 0;
      padding: 0;
      padding-left: 10px;
      height: 25px;
      font-size: 18px;
      font-weight: 500;
  }

  .proteinStuff, .fatStuff, .carbohydrateStuff {
      display: flex;
      height: 25px;
      padding: 5px;
  }